<!DOCTYPE html>
<html lang="{{ or site.Language.Locale site.Language.Lang }}" dir="{{ or site.Language.Direction `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="avenir">
  <a class="clip" href="#main">Skip to main content</a>
  <div class="mt4 pa4 flex flex-wrap">
    <nav class="fl mr5" aria-label="Primary navigation">
      <h1 class="f-subheadline athelas"><a class="link black" href="/">{{ site.Params.logo }}</a></h1>
      <p><a href="/articles/hello-world" class="link black">about</a></p>
      <p><a href="/archive/" class="link black">archive</a></p>
      <p><a href="/index.xml" class="link black" title="Subscribe to RSS feed">rss</a></p>
    </nav>
    <div class="fl mt7-ns mt5-m mw6-ns lh-copy">
      <main id="main">
        {{ block "main" . }}{{ end }}
      </main>
    </div>
  </div>

  <div class="cf"></div>
  
  <footer>
    <div class="w-60 center tc mt6">
      {{ partial "footer.html" . }}
    </div>
  </footer>
</body>
</html>
