sup a {
    text-decoration: none;
    color: darkgrey;
}

.footnotes {
    font-size: 0.8rem;
}

blockquote {
    font-family: Consolas,monaco,monospace;
    font-size: 0.95rem;
    white-space: nowrap;
    font-size: 0.9rem;
}